@import url("global.css");

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    padding: 20px 60.5px;
}

.header-navigation a{
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    color: var(--color-black);
    text-decoration: none;
    padding: 30px;
}

.btn {
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    color: var(--color-black);
    text-decoration: none;
    background-color: var(--color-green);
    padding: 12px 30px;
    border-radius: 15px 3px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 189px;
    gap: 60px;
}

.details{
    display: flex;
    flex-direction: column;
    font-family: var(--font-primary);
    gap: 20px;
}

.star{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 600;
}

.star span{
    color: var(--color-grey);
    font-size: 14px;
    font-weight: var(--font-weight-body);
}

.details h1 {
    color: var();
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    width: 499px;
}

.valor {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--font-primary);
}

.valor h2 {
    color: #2DA5F3;
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-h2);
}

.valor span {
    color: var(--color-grey);
    text-decoration: line-through;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
}

.valor p {
    background-color: #EFD33D;
    padding: 5px 10px;
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-h4);
}

.btn-carrinho {
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    color: var(--color-black);
    text-decoration: none;
    background-color: var(--color-green);
    padding: 12px 30px;
    border-radius: 15px 3px;
}

.page {
    background-color: var(--color-green2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
    gap: 50px;
}

section h2 {
    display: flex;
    justify-content: center;
    font-size: var(--font-size-h2);
    font-family: var(--font-primary);
   
}

.btn-enviar {
    display: flex;
    justify-content: center;
    font-family: var(--font-primary);
    font-size: var(--font-size-body);
    color: var(--color-black);
    text-decoration: none;
    background-color: var(--color-green);
    padding: 12px 30px;
    border-radius: 15px 3px;
}

.group {
    display: flex;
    flex-direction: column;
}

.container-form {
    font-family: var(--font-primary);
    display: flex;
    justify-content: center;
    padding: 39px;
    gap: 16px;
}


.input {
    border-radius: 5px;
    width: 249px;
    height: 41px;
}